/**
 * CSS used on the plugin's options page.
 */

#gdpr-cache .subsubsub {
	margin-bottom: 12px
}

#gdpr-cache .subsubsub li + li:before {
	content: '|';
	padding: 0 2px;
}

#gdpr-cache .subsubsub .count-all .status {
	font-weight: bold;
}

#gdpr-cache .widefat .asset-status {
	vertical-align: middle;
	text-align: center;
}

#gdpr-cache .asset-status a {
	text-decoration: underline;
}

#gdpr-cache .status-valid .asset-status {
	background: #c8e6c940;
}

#gdpr-cache .status-valid .asset-status,
#gdpr-cache .status-valid .asset-status a {
	color: #005005;
}

#gdpr-cache .status-expired .asset-status {
	background: #ffecb340;
}

#gdpr-cache .status-expired .asset-status,
#gdpr-cache .status-expired .asset-status a {
	color: #c56000;
}

#gdpr-cache .status-missing .asset-status {
	background: #ffccbc40;
}

#gdpr-cache .status-missing .asset-status,
#gdpr-cache .status-missing .asset-status a {
	color: #9f0000;
}

#gdpr-cache .status-enqueued .asset-status {
	background: #e1bee740;
}

#gdpr-cache .status-enqueued .asset-status,
#gdpr-cache .status-enqueued .asset-status a {
	color: #38006b;
}

#gdpr-cache .stale-low .asset-stale {
	color: #388e3c;
}

#gdpr-cache .stale-medium .asset-stale {
	background: #fffde730;
	color: #c17900;
}

#gdpr-cache .stale-high .asset-stale {
	background: #fbe9e760;
	color: #e64a19;
}

#gdpr-cache table.sortable thead th {
	cursor: pointer;
}

#gdpr-cache table .asset-url {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#gdpr-cache table .asset-type {
	width: 50px;
}

#gdpr-cache table .asset-stale .value {
	visibility: hidden;
	display: none;
}

#gdpr-cache table .asset-stale {
	width: 50px;
	text-align: center;
}

#gdpr-cache table .asset-status {
	width: 100px;
}

#gdpr-cache table .asset-created {
	width: 125px;
}

#gdpr-cache table .asset-expires {
	width: 125px;
}

#gdpr-cache tbody .asset-type {
	text-transform: uppercase;
}

#gdpr-cache tbody .time {
	padding-left: 4px;
	font-size: 0.85em;
	opacity: 0.8;
}
